.blocks-container {
  width: 500px;
  margin: 50px auto;
  border: solid 1px black;
}

.square {
  cursor: pointer;
  padding-top: 100px;
}

#red {
  background-color: red;
<<<<<<< HEAD
  transition: background-color 1s;
=======
>>>>>>> 4542e73578fd336dfdb95e7e636d4f0b479a480f
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

<<<<<<< HEAD
#yellow-clicked {
  background-color: #ffffa8;
}

=======
>>>>>>> 4542e73578fd336dfdb95e7e636d4f0b479a480f
#green {
  background-color: green;
}

#top-container {
  width: 50%;
  float: left;
}

#bottom-container {
  width: 50%;
  float: right;
}

.clear {
  clear: both;
}

.btn {
  display: block;
  margin: 0 auto;
}
<<<<<<< HEAD

.count-status {
  text-align: center;
}
=======
>>>>>>> 4542e73578fd336dfdb95e7e636d4f0b479a480f
