.blocks-container {
  border: 2px solid lightcoral;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  cursor: pointer;
  padding-top: 100px;
  width: 250px;

}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: black;
}

#green {
  background-color: green;
}

.turn, .wrong {
  text-align: center;
}

.clear {
  clear: both;
}

.btn {
  display: block;
  margin: 0 auto;
}

.count-status {
  text-align: center;
}
